.git*            export-ignore

*.bin           -crlf
*.bmp           -crlf
*.db            -crlf
*.ex2           -crlf
*.jpg           -crlf
*.pgm           -crlf
*.png           -crlf
*.ppm           -crlf
*.raw           -crlf
*.slc           -crlf
*.tif           -crlf
